* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #32e0c4;
  width: 100%;
  min-height: 100%;
}

@media only screen and (min-width: 768px) {
  html, body {
    font-size: 22px;
  }
}

body {
  padding-top: 20px;
  background-color: #eeeeee;
}

section {
  background-color: #212121;
  width: 90%;
  max-width: 700px;
  margin: auto;
  border: 1px solid #32e0c4;
  border-radius: 10px;
}

.button {
  width: 15%;
  min-width: 48px;
  min-height: 48px;
  color: #fff;
  border: 2px solid #32e0c400;
  border-radius: 10px;
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.button:hover,
.button:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-box-shadow: 4px 2px 5px #000;
          box-shadow: 4px 2px 5px #000;
}

.newItemEntry {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
  padding: 0.75rem;
}

.newItemEntry form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newItemEntry form label {
  position: absolute;
  left: -10000px;
}

.newItemEntry form input[type="text"] {
  width: 80%;
  font-size: 1.25rem;
  border: 2px solid #32e0c400;
  border-radius: 10px;
  padding: 0.75rem;
  outline: none;
}

.newItemEntry form input[type="text"].focus,
.newItemEntry form input[type="text"].hover {
  -webkit-box-shadow: 4px 2px 5px #000;
          box-shadow: 4px 2px 5px #000;
}

.newItemEntry form button {
  font-size: 1.25rem;
  background-color: #2196F3;
  padding: 00.75rem;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .newItemEntry form button {
    font-size: 1.5rem;
  }
}

.listContainer {
  min-height: 60vh;
  padding: 0.75rem;
}

.listContainer .listTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.listContainer .listTitle button {
  font-size: 1rem;
  background-color: #fa163f;
  padding: 0 0.1rem;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .listContainer .listTitle button {
    padding: 0 0.5rem;
  }
}

.listContainer .listTitle hr {
  width: 100%;
}

.listContainer .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  width: 100%;
}

.listContainer .item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  min-width: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 1rem;
}

.listContainer .item .prioritise {
  margin-left: auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.listContainer .item .prioritise .btn {
  cursor: pointer;
  border-radius: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  width: 2.5rem;
  height: 2.5rem;
  min-width: 48px;
  min-height: 48px;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  background-color: #32e0c4;
  border-width: 0rem;
  margin-left: 1rem;
}

.listContainer .item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.listContainer .item label {
  font-size: 1.1rem;
}
/*# sourceMappingURL=style.css.map */